<html>
<head>
	<meta charset="UTF-8">
	<title>WWDAACC20</title>
	<link rel="icon" href="assets/icons/APPLE-LOGO.png">
	<link rel="stylesheet" href="{{site.baseurl}}assets/css/style.css">
	<!--<link rel="stylesheet" href="assets/css/font-awesome-4.7.0/font-awesome.min.css"> -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patua+One&family=Russo+One&display=swap" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<meta property="og:title" content="{{site.title}}" />
   	<meta property="og:description" content="{{site.description}}" />
	<meta property="og:type" content="Campaign" />
	<meta property="og:image" content="assets/icons/thumbnail.png" />
	<meta property="og:url" content="https://tibcert-hub.github.io/tibcert-hub/" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157121718-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-157121718-4');
	</script>

	</head>
<body>
	<nav>
		<div class="top-bar">
			<h2><a href="index">WWDAACC20</a></h2>
		<div class="nav">
			<ul>
				<li><a href="overview">Overview</a></li>
				<li><a href="pre-concert">Pre-Concert</a></li>
				<li><a href="sign-up">Sign Up</a></li>
			</ul>
		</div>
		
	</nav>
	<div class="nav-mobile">
			<div class="burger" id="burger">
				<ul>
				<li><a href="overview">Overview</a></li>
				<li><a href="pre-concert">Pre-Concert</a></li>
				<li><a href="sign-up">Sign Up</a></li>
				</ul>
			</div>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    			<i class="fa fa-bars"></i>
 			 </a>
		</div>
		</div>
